.svg-svgsprite_chair {
	background: url("svg/sprite.css-17452e8e.svg") 65.09635974304068% 93.72199170124482% no-repeat;
}

.svg-svgsprite_chair-dims {
	width: 30px;
	height: 30px;
}

.svg-svgsprite_checkedm {
	background: url("svg/sprite.css-17452e8e.svg") 71.06382978723404% 92.56967213114754% no-repeat;
}

.svg-svgsprite_checkedm-dims {
	width: 24px;
	height: 24px;
}

.svg-svgsprite_close {
	background: url("svg/sprite.css-17452e8e.svg") 0 0 no-repeat;
}

.svg-svgsprite_close-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_error {
	background: url("svg/sprite.css-17452e8e.svg") 99.94924452426503% 0 no-repeat;
}

.svg-svgsprite_error-dims {
	width: 451.74px;
	height: 451.74px;
}

.svg-svgsprite_instagram {
	background: url("svg/sprite.css-17452e8e.svg") 73.61702127659575% 92.56967213114754% no-repeat;
}

.svg-svgsprite_instagram-dims {
	width: 24px;
	height: 24px;
}

.svg-svgsprite_natural_food {
	background: url("svg/sprite.css-17452e8e.svg") 54.93562231759657% 94.1125% no-repeat;
}

.svg-svgsprite_natural_food-dims {
	width: 32px;
	height: 32px;
}

.svg-svgsprite_phone {
	background: url("svg/sprite.css-17452e8e.svg") 76.17021276595744% 92.56967213114754% no-repeat;
}

.svg-svgsprite_phone-dims {
	width: 24px;
	height: 24px;
}

.svg-svgsprite_ruler {
	background: url("svg/sprite.css-17452e8e.svg") 58.36909871244635% 94.1125% no-repeat;
}

.svg-svgsprite_ruler-dims {
	width: 32px;
	height: 32px;
}

.svg-svgsprite_telegram {
	background: url("svg/sprite.css-17452e8e.svg") 61.802575107296136% 94.1125% no-repeat;
}

.svg-svgsprite_telegram-dims {
	width: 32px;
	height: 32px;
}

.svg-svgsprite_viber {
	background: url("svg/sprite.css-17452e8e.svg") 68.30835117773019% 93.72199170124482% no-repeat;
}

.svg-svgsprite_viber-dims {
	width: 30px;
	height: 30px;
}

